<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    ${bootstrap}
    <title>LOGIN</title>
</head>
<body>
    <form action="/login" method="POST">
        <div class="form-group">
            <label for="exampleInputEmail1">Username</label>
            <input value="AshTheVeryBest" name="username" type="username" class="form-control" id="exampleInputUsername1" aria-describedby="usernameHelp" placeholder="Enter your username">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input value="PikachuRox" name="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>
        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">I'm not a part of Team Rocket.</label>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    
</body>
</html>