        <nav class="navbar navbar-dark bg-primary">
            <!-- Navbar content -->
            <a style="color: aliceblue" href="/">${username}</a>
            <a style="color: aliceblue" href="/"></a>
            <a style="color: aliceblue" href="/"></a>
            <a style="color: aliceblue; font-weight: 600" href="/user">USER</a>
            <a style="color: aliceblue; font-weight: 600" href="/cards">CARDS</a>
            <a style="color: aliceblue" href="/"></a>
            <a style="color: aliceblue" href="/"></a>
            <a style="color: aliceblue" href="/"></a>
            <a style="color: aliceblue" href="/"></a>

        </nav>
    <br> 
    <br>